@import '../variables.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

#app {
	padding-bottom: 5em;
}

.global-header {
	display: flex;
	justify-content: space-between;
	padding: $global-padding;
	h1.title {
		margin-bottom: 0;
	}
}

.auth {
	text-align: right;
}

main {
	padding: $global-padding;
}

.panels {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: $global-padding;
	row-gap: $global-padding;
	.panel:last-child {
		margin-bottom: 1.5rem;
	}
}