{% extends "admin/index.html" %}

{% block content %}
	<div id="vue-app">
		<p class="error" v-if="fetchError">
			Fetch error
		</p>
		<div class="pi-status custom-panel">
			<h2>Server status</h2>
			<div class="temperature">Temperature: [[ piTemperature ]]°F</div>
			<div class="uptime">Uptime: [[ piUptime ]]</div>
			<div class="memory-percent">Memory usage: [[ piMemoryPercent ]]%</div>
			<div class="swap-percent">Swap usage: [[ piSwapPercent ]]%</div>
			<div class="load-averages">Load: [[ piLoadAverages ]]</div>
		</div>
		<div class="door-controls custom-panel">
			<p class="door-status">
				Door status: <span class="value">[[ doorStatus ]]</span>
			</p>
			<div class="buttons">
				<button 
					type="button" 
					v-bind:disabled="['CLOSED', 'INDETERMINATE'].includes(doorStatus) ? false : 'disabled'" 
					class="open"
				>
					Open
				</button>
				<button 
					type="button" 
					v-bind:disabled="['OPEN', 'INDETERMINATE'].includes(doorStatus) ? false : 'disabled'" 
					class="close"
				>
					Close
				</button>
			</div>
			<p class="schedule-status">
				Auto open+close: <span class="value">[[ isAutoOpenCloseEnabled ? 'Enabled' : 'Disabled' ]]</span>
			</p>
		</div>
	</div>
	<style>
		.custom-panel {
			margin: 0 0 30px;
			border: solid 1px #aaa;
			padding: 16px;
		}
		.door-controls .buttons {
			display: flex;
		}
		.door-controls button {
			border: 0;
			background: #050;
			display: inline-block;
			padding: 1em;
			font-size: 2rem;
			margin: .5em;
			color: #fff;
			cursor: pointer;
		}
		.door-controls button:disabled {
			background: #888;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		(function() {
			window.App = new Vue({
				el: '#vue-app',
				delimiters: ['[[', ']]'],
				data: {
					fetchError: undefined,
					isAutoOpenCloseEnabled: undefined,
					doorStatus: undefined,
					piTemperature: undefined,
					piUptime: undefined,
					piMemoryPercent: undefined,
					piSwapPercent: undefined,
					piLoadAverages: [undefined, undefined, undefined]
				}
			});

			fetch('/door/status')
				.then((response) => {
					if (response.status !== 200) {
						App.fetchError = true;
						throw 'Non-200 response';
					}
					return response.json();
				})
				.then((response) => {
					App.doorStatus = response.doorStatus;
					App.isAutoOpenCloseEnabled = response.isAutoOpenCloseEnabled;
				})
				.catch(console.error);

			const updatePiStatus = () => {
				fetch('/pi/status')
					.then((response) => {
						if (response.status !== 200) {
							App.fetchError = true;
							throw 'Non-200 response';
						}
						return response.json();
					})
					.then((response) => {
						App.piTemperature = response.temperatureFahrenheit,
						App.piUptime = response.uptime;
						App.piMemoryPercent = response.memoryPercent;
						App.piSwapPercent = response.swapPercent;
						App.piLoadAverages = response.loadAverages;
					})
					.catch(console.error);
			};

			updatePiStatus();
			window.setInterval(updatePiStatus, 3000);
		}());
	</script>
	{{ block.super }}
{% endblock content %}
