{% extends "admin/index.html" %}

{% block extrahead %}
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
{% endblock extrahead %}

{% block branding %}
	<h1 id="site-name"><a href="{% url 'admin:index' %}">Fowl's Moving Castle</a></h1>
{% endblock branding %}

{% block content %}
	<div id="vue-app">
		<p class="error" v-if="fetchError">
			Fetch error: [[ fetchErrorMessage ]]
		</p>
		<div class="pi-status custom-panel">
			<h2>Server status</h2>
			<div class="temperature">Temperature: [[ piTemperature ]]°F</div>
			<div class="uptime">Uptime: [[ piUptime ]]</div>
			<div class="memory-percent">Memory usage: [[ piMemoryPercent ]]%</div>
			<div class="swap-percent">Swap usage: [[ piSwapPercent ]]%</div>
			<div class="load-averages">Load: [[ piLoadAverages ]]</div>
		</div>
		<div class="door-controls custom-panel">
			<p class="door-status">
				Door status: <span class="value">[[ doorStatus ]]</span>
			</p>
			<p class="schedule-status">
				Auto open+close: <span class="value">[[ isAutoOpenCloseEnabled ? 'Enabled' : 'Disabled' ]]</span>
			</p>
			<p class="door-closing-time">
				Tonight's scheduled closing time: [[ doorClosingTime ]]
			</p>
			<div class="door-controls">
				<button
					type="button"
					class="open-door-controls"
					v-if="!isDoorControlsOpen"
					v-on:click="openDoorControls"
				>
					Open door controls
				</button>
				<div v-if="isDoorControlsOpen">
					<button 
						type="button" 
						class="up"
						v-on:click="motorUp"
					>
						☝️
					</button>
					<button 
						type="button" 
						class="down"
						v-on:click="motorDown"
					>
						👇
					</button>
					<button 
						type="button" 
						class="off"
						v-on:click="motorOff"
					>
						✋
					</button>
				</div>
			</div>
		</div>
	</div>
	<style>
		.custom-panel {
			margin: 0 0 30px;
			border: solid 1px #aaa;
			padding: 16px;
		}
		.door-controls .buttons {
			display: flex;
			justify-content: space-evenly;
		}
		.door-controls button {
			border: 0;
			background: #050;
			display: inline-block;
			padding: .5em;
			font-size: 2rem;
			margin: .5em .1em;
			color: #fff;
			cursor: pointer;
		}
		.door-controls button:disabled {
			background: #888;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		(function() {
			window.App = new Vue({
				el: '#vue-app',
				delimiters: ['[[', ']]'],
				data: {
					fetchError: undefined,
					fetchErrorMessage: undefined,
					isAutoOpenCloseEnabled: undefined,
					doorStatus: undefined,
					doorClosingTime: undefined,
					piTemperature: undefined,
					piUptime: undefined,
					piMemoryPercent: undefined,
					piSwapPercent: undefined,
					piLoadAverages: [undefined, undefined, undefined],
					isDoorControlsOpen: false
				},
				methods: {
					motorUp: () => {
						fetch('/door/up')
							.then((response) => {
								if (response.status !== 200) {
									throw `Non-200 status: ${response.status}`;
								}
								return response.json();
							})
							.catch((err) => {
								App.fetchError = true;
								console.error(err);
							});
					},
					motorDown: () => {
						fetch('/door/down')
							.then((response) => {
								if (response.status !== 200) {
									throw `Non-200 status: ${response.status}`;
								}
								return response.json();
							})
							.catch((err) => {
								App.fetchError = true;
								App.fetchErrorMessage = err;
								console.error(err);
							});
					},
					motorOff: () => {
						fetch('/door/off')
							.then((response) => {
								if (response.status !== 200) {
									throw `Non-200 status: ${response.status}`;
								}
								return response.json();
							})
							.catch((err) => {
								App.fetchError = true;
								App.fetchErrorMessage = err;
								console.error(err);
							});					
					},
					openDoorControls: () => {
						App.isDoorControlsOpen = true;
					}
				}
			});

			const updateDoorStatus = () => {
				fetch('/door/status')
					.then((response) => {
						if (response.status !== 200) {
							throw `Non-200 status: ${response.status}`;
						}
						return response.json();
					})
					.then((response) => {
						App.doorStatus = response.doorStatus;
						App.isAutoOpenCloseEnabled = response.isAutoOpenCloseEnabled;
						App.doorClosingTime = response.closingTime;
					})
					.catch((err) => {
						App.fetchError = true;
						App.fetchErrorMessage = err;
						console.error(err);
					});
			};
			
			const updatePiStatus = () => {
				fetch('/pi/status')
					.then((response) => {
						if (response.status !== 200) {
							throw `Non-200 status: ${response.status}`;
						}
						return response.json();
					})
					.then((response) => {
						App.piTemperature = response.temperatureFahrenheit,
						App.piUptime = response.uptime;
						App.piMemoryPercent = response.memoryPercent;
						App.piSwapPercent = response.swapPercent;
						App.piLoadAverages = response.loadAverages;
					})
					.catch((err) => {
						App.fetchError = true;
						App.fetchErrorMessage = err;
						console.error(err);
					});
			};

			updatePiStatus();
			updateDoorStatus();
			window.setInterval(updatePiStatus, 3000);
			window.setInterval(updateDoorStatus, 9000);
		}());
	</script>
	{{ block.super }}
{% endblock content %}
