{% extends "base.html" %}
{% load static %}

{% block header %}
	<header class="global-header">
		<h1 class="title is-5">Fowl's Moving Castle</h1>
		<div class="auth">
			{% if user.is_authenticated %}
				<div class="logged-in-as">
					Logged in as {{ user.username }} (<a class="log-out" href="{% url 'admin:logout' %}?next=/">log out</a>)
				</div>
			{% else %}
				<a href="{% url 'admin:login' %}?next=/">
					Login
				</a>
			{% endif %}
		</div>
	</header>
{% endblock header %}

{% block content %}
	<div id="app"></div>
{% endblock content %}

{% block js %}
	<script>
		window.jsData = {
			isAuthenticated: {% if user.is_authenticated %}true{% else %}false{% endif %}
		};
	</script>
	<script src="{% static "dashboard/bundle.js" %}"></script>
{% endblock js %}